@{
    ViewData["User"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}
@model Tuple<IEnumerable<Playlist>, User>

<div style="padding:1%; margin:1%;">

<div class="spotify-playlistsS">
    <h2>My Playlists</h2>

    <div class="listL">
            @foreach (var playlist in Model.Item1)
            {
                if(playlist.User_ID == Model.Item2.ID)
                {
                    <div class="item">
                        <img src="@playlist.Image" />
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>@playlist.Name</h4>
                        <p>@playlist.Description</p>
                    </div>
                }
            }
    </div>

    <h2>My Tracks</h2>




</div>



</div>