@{
    ViewData["Title"] = "Privacy Policy";
}

<div style="text-align: center; 
  color: #777777; 
  padding: 10px;">
    <h1>@ViewData["Title"]</h1>
    <p>This Website is hosted on local host, very secure. There is no Data Collection.</p>
</div>
